nav {
  background-color: #322d2c;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}